* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: #f4f4f4 url(./img/showcase.jpg) no-repeat center center/cover;
  height: 100vh;
}

.container {
  display: flex;
  justify-content: flex-end;
}
.container ul {
  display: flex;
  margin-top: 1rem;
}
.container ul li {
  list-style: none;
  margin: 1.2rem;
  font-size: 1.3rem ;
}

.container ul li a {
   color: #fff;
   text-decoration: none;
   margin-right: 1.5rem; 
}
#navbar .social i {
  color:#fff;
  font-size: 2rem;
  margin-top: 1rem;
  padding: 1rem 1.5rem;
}

#navbar .social i:hover {
  color: rgb(86, 86, 235)
}
#navbar .sign-up {
  border: 1px solid #333;
  padding:1rem 1.5rem;
  border-radius: 10px;
}

#navbar .sign-up:hover {
  border: 1px solid #444;
  color: #ddd;
}

section .container {
  justify-content: center;
  text-align: center;
}

section .container {
  display: block;
}

section .container h1 {
  font-size: 2.5rem;
  line-height: 1.4;
  color: #fff;
  margin-bottom: 2rem;
}
section input {
  width: 400px;
  background: transparent;
  border: none;
  border-bottom: 2px solid #333;
  font-size: 1rem;
  padding: 1rem;
  outline: none;
  margin-right: 1rem;
}

section input:hover {
  border: 2px solid #444;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

section .btn {
  background: #333;
  color: #fff;
  font-size: 1rem;
  padding: 1rem 2rem;
  border: none;
  border-radius: 5px;
  outline: none;
}

section .btn:hover {
  background: #444;
  color: #ddd;
}

